<main>
    <div class="logo">
        <img src="./assets/surrealdb logo.svg" alt="SurrealDB Logo">
        <h1>Viewer</h1>
    </div>
    <span class="created-by">By <a href="https://github.com/Alwexis/" target="_blank">@Alwexis</a></span>
    <section>
        <span>Reach the developer!</span>
        <div></div>
    </section>
    <section>
        <span>Want to contribute?</span>
    </section>
    <section>
        <span>Found issues?</span>
    </section>
    <p class="disclaimer">
        This project is a SurrealDB database explorer for Windows, Linux, and Mac. It is written in Angular and Electron.
        
        The project was created solely for educational purposes and has no affiliation with SurrealDB.
    </p>
</main>