<!--
<surreal-transition></surreal-transition>
-->

<!-- Usa de referencia el link de abajo -->
<!--? https://github.com/iDevelopThings/SurrealDB-Explorer -->

<main>
    <section id="left-side">
        <img class="surrealdb-logo" src="./assets/surrealdb-logo-light.svg" alt="SurrealDB Logo">
        <div class="connections">
            <div class="connections-button active">
                <i class="bi bi-database"></i>
                Connections
            </div>
        </div>
        <div class="options">
            <div class="option">
                <i class="bi bi-terminal"></i>
                SQL Query
            </div>
            <div class="option">
                <i class="bi bi-table"></i>
                Tables
            </div>
            <div class="option">
                <i class="bi bi-code-square"></i>
                Functions
            </div>
            <div class="option">
                <i class="bi bi-calendar-event"></i>
                Events
            </div>
            <div class="option">
                <i class="bi bi-card-text"></i>
                Params
            </div>
            <div class="option">
                <i class="bi bi-box-arrow-in-right"></i>
                Logins
            </div>
        </div>
        <div class="current-connection">
            Current Connection
            <div class="{{ DBName != '' ? 'connected' : 'disconnected' }}"></div>
            {{ DBName }}
        </div>
    </section>
    <section id="right-side">
        <app-welcome></app-welcome>
    </section>
</main>
<!--
<nav>
    <img class="surrealdb-logo" src="./assets/surrealdb-logo-light.svg" alt="SurrealDB Logo">
    <span class="database-name-container"><i class="bi bi-database-fill"></i> Database <span class="database-name">{{ DBName }}</span></span>
    <span id="logout"><i class="bi bi-box-arrow-right"></i> Logout</span>
</nav>
<main>
    <section id="options">
        <div (click)="changeTab('sqlquery')" id="sqlquery" class="option active">
            <i *ngIf="activeTab != 'sqlquery'; else SQLQuery" class="bi bi-terminal"></i>
            <ng-template #SQLQuery>
                <i class="bi bi-terminal-fill"></i>
            </ng-template>
            <span class="option-label">SQL Query</span>
        </div>
        <div (click)="changeTab('tables')" id="tables" class="option">
            <i class="bi bi-table"></i>
            <span class="option-label">Tables</span>
        </div>
        <div (click)="changeTab('logins')" id="logins" class="option">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="option-label">Logins</span>
        </div>
        <div (click)="changeTab('tokens')" id="tokens" class="option">
            <i *ngIf="activeTab != 'tokens'; else Tokens" class="bi bi-heptagon"></i>
            <ng-template #Tokens>
                <i class="bi bi-heptagon-fill"></i>
            </ng-template>
            <span class="option-label">Tokens</span>
        </div>
        <div (click)="changeTab('scopes')" id="scopes" class="option">
            <i class="bi bi-bullseye"></i>
            <span class="option-label">Scopes</span>
        </div>
    </section>
    <tables-view *ngIf="activeTab === 'tables'"></tables-view>
</main>
-->