* {
    -webkit-user-select: none;
    user-select: none;
    font-family: var(--system-font);
}

main {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    #left-side {
        padding: 2rem;
        max-width: 20%;
        min-width: 20%;
        border-right: 1px solid var(--border-variant);
        & .surrealdb-logo {
            cursor: pointer;
        }
        & .option {
            display: flex;
            align-items: center;
            color: var(--color-white);
            fill: var(--color-white);
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            width: 80%;
            &:first-child {
                margin-bottom: 0.5rem;
            }
            &:last-child {
                margin-top: 0.5rem;
            }
            &:not(:last-child):not(:first-child) {
                margin: 0.5rem 0;
            }

            & svg {
                height: 20px;
                margin-right: 0.5rem;
                transition: all 0.3s ease-in-out;
            }

            &:hover, &.active {
                & svg {
                    fill: var(--hover-color);
                }

                background-color: var(--item-hover-variant);
            }

        }

        & .connections {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
            padding: 1rem 0;
            border-bottom: 1px solid var(--border-variant);
            & .connections-button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 1rem;
                color: var(--color-white);
                fill: var(--color-white);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                & svg {
                    height: 20px;
                    margin-right: 0.5rem;
                    transition: all 0.3s ease-in-out;
                }
                &:hover, &.active {
                    & svg {
                        fill: var(--hover-color);
                    }
    
                    background-color: var(--item-hover-variant);
                }
            }
        }

        & .current-connection {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            color: var(--text-100-variant);
            font-size: 0.8rem;
            & div {
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 100%;
                margin: 0 0.25rem;
                &.connected {
                    background-color: var(--color-green);
                }
                &.disconnected {
                    background-color: var(--color-red);
                }
            }
        }
    }
    #right-side {
        max-width: 80%;
        min-width: 80%;
        padding: 2rem;
    }
}